# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
bun.lockb
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
**/*.pdf
**/*.jpg
*.ps1
*.sw?
poppler
TODO.txt
pdf_to_jpg.py
split_pdf.py
REFACTORING_*.md